<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
  </configSections>
  <microsoft.web.services3>
    <messaging>
      <maxMessageLength value="51200" />
      <mtom clientMode="On" />
    </messaging>
  </microsoft.web.services3>
  <log4net xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <root>
      <!-- OFF < FATAL < ERROR < WARN < INFO < DEBUG < ALL -->
      <level value="OFF" />
      <!--<appender-ref ref="file" />
      <appender-ref ref="console" />
      <appender-ref ref="RollingLogFileAppender" />-->
    </root>
    <!--<appender name="console" type="log4net.Appender.ManagedColoredConsoleAppender">
      <mapping>
        <level value="DEBUG" />
        <foreColor value="DarkGray" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Magenta" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level: %message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <file value="Logs/ImportObjectProperties.Log4Net-" />
      <appendToFile value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level: %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs/ImportObjectProperties.Log4Net-" />
      <param name="AppendToFile" value="True" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.csv&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="ImportObjectProperties.Layout.CsvPatternLayout,ImportObjectProperties">
        <header value="Time,Thread,Level,Logger,Message,Exception&#xD;&#xA;" />
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss}%newfield%thread%newfield%level%newfield%logger%newfield%message%newfield%EscapedException%endrow" />
      </layout>
    </appender>-->
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Values in appSettings section can be modified to control application behavior:
         CSVSeparatorInAscii = ASCII code of item separator in CSV file
         ItemCoTitlePropertyName = property name for Item and Change Order title
         ItemCoDescriptionPropertyName = property name for Item and Change Order description
         ItemUnitsPropertyName = property name for Item units property
         UseExplorerUtil = if false then standard WebService API is used for property update. WebService API is faster
           but doesn't handle mapped properties. ExplorerUtil can handle mapped properties as well.
    -->
    <add key="CSVSeparatorInAscii" value="124" />
    <add key="ItemCoTitlePropertyName" value="Title (Item,CO)" />
    <add key="ItemCoDescriptionPropertyName" value="Description (Item,CO)" />
    <add key="ItemUnitsPropertyName" value="Units" />
    <add key="UseExplorerUtil" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.1.0" newVersion="5.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
